body{
	text-align: center;
}

h3{
	margin: 10px 0px 0px 0px;
}

.container{
	margin: 0 auto;
	width: 500px;
}

.topcoat-button--large{
	margin: 5px;
}

#word-search{
	font-family: 'Inconsolata', ;
	font-weight: bold;
	font-size: 20px;
}

#entered-words{
	margin: 0 auto;
	margin-bottom: 15px;
	width: 350px;
	border-style: solid;
	border-radius: 5px;
}